@import url('https://fonts.googleapis.com/css2?family=Arima&family=Source+Sans+Pro:wght@600&display=swap');

#botonera{
	background-color: #352728;
}
#botonera img{
	width: 150px;
}
#botonera ul li a {
	color: #d3b895;
}
#botonera ul li a:hover {
	color: #d3b895;
	background-color: #385258 ;		
	transition: background-color 1s;
}
.banner{
	width: 100%;
}

/*--============== colores de contenedores ==============--*/
.bg-brown{
	background-color: #352728;
	color: white;
}
.bg-li-brown{
	background-color: #d3b895;
}
.cofeeBg{
	background-image: url("../img/fondo1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	opacity: 0.5;
}
.btnStyle:hover{
	color: white;
	background-color: #385258 ;		
	transition: background-color 0,8s;
}

/*--============== textos ==============--*/

.textoComun {
	font-family: 'Source Sans Pro', sans-serif;
	color: #352728;
	}

.textoDestacado{
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	}

.titulos{
	font-family: 'Arima', cursive;
	color: #4d7a81;
	font-weight: bold;
}
.titulos2{
	font-family: 'Arima', cursive;
	font-weight: bold;
	color: #352728;
}
.textoAzul{
color: #4d7a81;
font-family: 'Source Sans Pro', sans-serif;
text-shadow: unset;
text-shadow: #CCC 1px 0 10px;
}



/*--============== imagenes ==============--*/

.chico{
	width: 10%;
}

.fondo{
	background: url(../img/fondo1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	
}
/*--============== Queries ==============--*/

@media (min-width: 576px){
	.ancho{
		width: 75%;
	}
}

/*--============== transformaciones y animaciones==============--*/

.efecto:hover{
	transform: scale(1.1);
}

@keyframes borDeColores {
0% {border: solid #E352EA;}
25% {border: solid #5277EA;}
50% {border: solid #52EADA;}
75% {border: solid #EAEA52;}
100% {border: solid #EA7952;}
}

.animacion{
	animation-name: borDeColores;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}