<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../img/favicon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Coffee House</title>
  </head>
  <body>
    <!-- nav-->
    <nav class="navbar navbar-expand-md navbar-light " id="botonera">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">
          <img src="../img/logo.png" src="Logo de coffee house">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="promociones.html">Promociones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="sucursales.html">Sucursales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="contacto.html">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--ends nav-->
   <main>
     <section >
       <div class="row d-flex justify-content-center">
         <div class="col-sm-12 col-md-6 col-lg-3">
           <h2 class=" text-center titulos fs-1  my-4">Cofee House</h2>
           <img class="w-100 mb-4 " src="../img/cafeteria.jpg" src="fachda de nuestra cafeteria">
         </div>
       </div>
     </section>
     <section>
       <div class="row ">
         <div class="col-sm-12">
           <h3 class="titulos fs-3 ms-4 mb-4">Sobre nosotros</h3>
           <p class="textoComun mx-4 mb-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore possimus architecto laborum aliquid veniam, autem, aspernatur minus quaerat dolor voluptatem error magnam provident rerum iste ipsam a dolores nam minima!</p>
         </div>
       </div>
     </section>
      <section>
        <div class="row row d-flex justify-content-around">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <h3 class="titulos fs-3 ms-4 mb-4">Mision</h3>
            <p class="textoComun mx-4 mb-4"> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute.</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <h3 class="titulos fs-3 ms-4 mb-4">Vision</h3>
            <p class="textoComun mx-4 mb-4"> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute.</p>
          </div>
        </div>
      </section>
      <section class="my-5">
        <div class="d-flex justify-content-center"><iframe width="560" height="315" src="https://www.youtube.com/embed/xaJYi6KeeHQ?controls=0&amp;start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      </section>
   </main>





   <footer class="bg-li-brown ">
    <section>
      <h3 class="text-center fs-4 textoComun pt-4">Nuestras redes Sociales</h3>
      <a class="d-flex justify-content-center" href="https://www.facebook.com/">
        <img class="chico my-2 mx-3" src="../img/facebook.png">
      </a>
      <a class="d-flex justify-content-center" href="https://www.instagram.com/">
        <img class="chico my-2 mx-3 " src="../img/instagram.png">
      </a>
    </section>     
   </footer>



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>